.serviceVideo {
  display: block;
}

.videoForServices {
  background: fixed;
  width: 60vw;
  margin: 0 auto;
}

.serviceHead {
  font-size: 4rem;
  color: white;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 3rem;
}
