.HambergerMenuContainer {
  position: relative;
}

.HambergerMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: -1.5rem;
  background-color: rgb(20, 18, 18);
  width: 7rem;
  text-align: center;
  border-radius: 10px;
  padding: 1rem 1rem;
}
